body
{
	background-color: black;
	color : white;
}

a, a:hover, a:visited
{
	color: white;
	text-decoration: none;
}
a:hover { text-decoration: underline; }

.name_content, .content_content, .seealso_content { padding-left: 40px; }
