body
{
	background-color: #D5D5D5;
	color : black;
	text-align: center;
	font-size: 1em;
}
h1, h1 a, h1 a:hover, h1 a:visited
{
    background-color: #444444;
    color: white;
    text-decoration: none;
    padding: 6px;
}
h2
{
    color: #0082B0;
}

a, a:hover, a:visited
{
	color: #0082B0;
	text-decoration: none;
}
a:hover { text-decoration: underline; }

#page
{
	background-color: white;
	border: 1px solid #E1E1E1;
	text-align: left;
	width: 80%;
	padding: 15px;
	padding-top: 0;
	padding-bottom: 0;
	margin: auto;
}
#menu
{
	width: 20%;;
	margin-left: 80%;
}
#menu h2
{
	margin-bottom: 5px;
}
#menu ul
{
	margin: 0;
	padding: 0;
	list-style: none;
	list-style-type: none;
}
#menu a
{
    color: #444444;
}

#content
{
	float: left;
	width: 79%;
}
#content .article_item, #content .article
{
	width: 95%;
	margin-bottom: 30px;
}
#content .article_item h2, #content .article h1
{
	border-bottom: 1px solid #444444;
	padding-bottom: 2px;
}

.article_infos
{
	background-color: #E9E9E9;
	/*border-top: 1px solid #444444;*/
	padding: 5px;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 0.8em;
	margin-top: 20px;
}
.article_infos .author_date
{
}
.article_infos .tags
{
	font-size: 0.6em;
	margin-top: 3px;
}

.cleaner { clear: both; }
